#banner{
    width: 100%;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width:940px;
    margin: 0 auto;
}

nav{
    position:absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

nav a:hover{
    text-decoration: underline;
    color: #c78c19;
}

.principal{
    background: #cccccc;
    padding: 30px;
}

.titulo-centralizado{
    text-align:center;
}
p {
    text-align: center;
}
#missao{
    font-size: 20px;
}
em strong{
    color: red;
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}

.servicos{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens{
    font-style: italic;
}

.imgbeneficios{
    width: 50%;
}



